<link rel="stylesheet" href="/footer.css">
<link rel="stylesheet" href="">
<footer>
   
    <div class="">
        <div class="card-footer text-muted text-center " id="footer">
            <h1 class="lead mb-4 basemsg" >
                Many of our clients have given feedback this could be you
            </h1>
            <div class="row">
                <div class="col">
                </div>
                <div class="col">

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="card-text sm">
                        <a href="/study" class="text lead">
                            Study
                            <i class="graduation cap icon"></i>
                        </a>
                    </p>
                    <p class="card-text sm">
                        <a href="" class="text lead">Support Us</a>
                    </p>
                    <p class="card-text sm">
                        <a href="/" class="text lead">
                          Aheru
                        </a>
                       
                    </p>
                </div>
                <div class="col">
                    <p class="card-text " class="tex "> <span class="basemsg">Travel,</span> <span class="basemsg2">
                         enjoy and Learn More
                    </span>   </p>

                    <form action="" class="form-inline">
                        <div class="form-group mb-2">
                            <input class="form-control form-control-sm " type="email" placeholder="Your Email">
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <input class="form-control form-control-sm" type="text" placeholder="Message Us">
                        </div>
                        
                        <input type="submit" value="Send Message" class="btn btn-dark ">
                           
                            
                    </form>
                </div>
                <!-- social media -->
                <div class="col">
                    <p class="card-text item">
                        <a href="" class="text lead">ContactUs
                            <i class="phone icon"></i>
                        </a>
                    </p>
                    <p class="card-text  ">
                        <a href="" class="text lead">Location
                            <i class="location arrow icon"></i>
                        </a>
                    </p>

                    <p class="card-text ">
                        <a href="" class="basemsg3 lead">
                                    <i class=" facebook icon"></i></a>
                <a href="" class="basemsg3 lead">
                    <i class="instagram icon  "></i></a>
                               <a href="" class="basemsg3 lead">
                                    <i class="whatsapp icon"></i> </a>    
                    </p>
                     <p class="card-text ">
                        <a href=""></a>
                    </p>
                </div>
            </div>

        </div>
</footer>
</body>

</html>

<style>
    .basemsg{
        color: greenyellow;
    }
    .basemsg2{
        color: white;;
    }
    .basemsg3{
        color: rgb(51, 51, 51);
    }
</style>