<%include partials/header%>
 
<div class="text-center">
    <div class="">
        <h1 class="lead text-center mb-4">Get your Account Today!!</h1>
        
    </div>
    
       
    </div>
</div>

<div class="container">
<div class="ui grid">
    <div class="three wide column co">
        
    </div>
</div>
</div>

<div class="ui grid">
    <div class="four wide column ">
        <div class="row" style="padding-left:60px">
        
            <div class="card">
                <div class="card-body">
                    <p>
                        <a class="ui button primary" href="https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp
                                            "> Look for Responsive grid</a>

                    </p> 
                    <p>
                        <a href="" class="btn btn-primary ui button">Signup <span></span><i class="icon dot circle"></i></a>
                    </p>
                    <p>
                        <a href="/login" class="btn btn-primary ui button">Login <span></span><i class="icon new user"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
<% include partials/footer%>