<% include partials/header %>
<div class="ui container">
    <div class="">
       
    <div class=" " >
        <span class=""></span>
        <!-- <h1 class="display-2 text-center" >Aheru</h1> -->
        <img class="img-fluid rounded mx-auto d-block logo" src="/aheru2.png" alt="">
         <!-- ui large image circular pic -->
    </div>
    <div class="">
        <div class="mb-4 ">
            <div class="">
                <div class="text-center text-primary"> Meet and travel with New people</div>
            </div>
        </div>
      
           
        
    </div>
</div>
<div class="text-center">
    <div class="  center aligned ">
        <p>
            <h2 class="display-4 mb-5">We get you to the right places</h2>
        </p>
        
        
        
    </div>
</div>
</div>
<div class=" container" style="padding-left: 60px ">
    <div class="row">
        <div class="col">
            <p class="mb-5 text-justify word">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut temporibus voluptatem tempore? Aliquam, quisquam aliquid? Vel
                nesciunt voluptatum eveniet voluptatibus enim? Temporibus iste, earum eaque eveniet molestias aspernatur quae fugit?
            </p>
            <img  class="rounded img-fluid word" alt="Responsive image"src="https://images.unsplash.com/photo-1496950866446-3253e1470e8e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=89cb308d4f29aa91900e63f318b03458&auto=format&fit=crop&w=500&q=60"
                alt="">
        </div>
        <div class="col ">
            <img class="rounded inline img-fluid" alt="Responsive image" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd27e6afea10629578acb8ca65e51d40&auto=format&fit=crop&w=500&q=60">
            <p class="mb-8 text-justify word">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut temporibus voluptatem tempore? Aliquam, quisquam aliquid? Vel
                nesciunt voluptatum eveniet voluptatibus enim? Temporibus iste, earum eaque eveniet molestias aspernatur quae fugit?
            </p>
        </div>
        
    </div>
</div>


    <!-- <div class="container"style="padding-lef:30px">
        <img src="https://images.unsplash.com/photo-1462536943532-57a629f6cc60?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0a61bab8c6f01c30f8c3654d172ece6&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="Responsive image">
    </div> -->



<% include partials/footer %>