<%include ./partials/header%>
<% if(hasErrors)  { %>
     <% _.forEach(messages, function(error){ %>
        <div class="alert alert-danger text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= error %>
                <br>
        </div>
        <% }) %>
        <% } %>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <img class="logo" src="/img/logo.png" alt="">
            <h3 class="text-center">
                Account Signup
            </h3>
            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="name">First name</label>
                    <input type="text" class="form-control" name="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control mb-3" name="password" required>
                    <div class="field-wrapper">
                        <a href="/auth/facebook" style="outline: 0; text-decoration: none;">
                            <span class="icon-facebook left"></span>
                            <!-- <i class="icmn-facebook2" ></i> -->
                            <button class="btn btn-primary width-20" style="background-color:#3b5998 !important; border-color: #3b5998 !important; outline: 0; padding: 1px 16px !important; 1.3rem!important">
                                <i class="icmn-facebook2"></i>
                            </button>
                            <!-- <span>Sign in with Facebook</span> -->
                        </a>
                        <a href="/auth/google" style="outline: 0; text-decoration: none;">
                    
                            <!-- <span> Sign in with Google</span> -->
                            <button class="btn btn-primary width-20" style="background-color:  #d34836 !important; border-color:  #d34836 !important; padding: 1px 16px;">
                                <i class="icmn-google-plus2"></i>
                            </button>
                        </a>
                    </div>
                    <button type='submit' class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>